/*******************************
New ITCSS structure starts here.

Read more about ITCSS here:

https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528
https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
*******************************/

@import "_ITCSS/01_settings/_settings"
@import "_ITCSS/02_tools/_tools"
@import "_ITCSS/03_generic/_generic"
@import "_ITCSS/04_elements/_elements"
@import "_ITCSS/05_objects/_objects"
@import "_ITCSS/06_components/_components"

/*******************************
New ITCSS structure ends here.
*******************************/


/*******************************
New ITCSS structure starts here.

Read more about ITCSS here:

https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528
https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
*******************************/

@import "_ITCSS/07_utilities/_utilities"

/*******************************
New ITCSS structure ends here.
*******************************/
