.u-flex
  display: flex

.u-flex-wrap
  flex-wrap: wrap

.u-inline-flex
  display: inline-flex

////////////////////
// Justification
////////////////////
.u-flex-justify-start
  justify-content: flex-start

.u-flex-justify-end
  justify-content: flex-end

.u-flex-justify-space-between
  justify-content: space-between

.u-flex-justify-space-around
  justify-content: space-around

.u-flex-justify-center
  justify-content: center

////////////////////
// Alignment
////////////////////
.u-flex-align-space-around
  align-content: space-around

.u-flex-align-self-start
  align-self: flex-start

.u-flex-align-self-end
  align-self: flex-end

.u-flex-align-self-center
  align-self: center

.u-flex-align-items-start
  align-items: flex-start

.u-flex-align-items-end
  align-items: flex-end

.u-flex-align-items-center
  align-items: center

////////////////////
// Directions
////////////////////
.u-flex-direction-column
  flex-direction: column

.u-flex-direction-column-reverse
  flex-direction: column-reverse

.u-flex-direction-row-reverse
  flex-direction: row-reverse

.u-flex-direction-row
  flex-direction: row

////////////////////
// Flex property
////////////////////
.u-flex-1
  flex: 1

.u-flex-2
  flex: 2

.u-flex-3
  flex: 3

.u-flex-4
  flex: 4

.u-flex-5
  flex: 5

.u-flex-6
  flex: 6

.u-flex-7
  flex: 7

.u-flex-8
  flex: 8

.u-flex-9
  flex: 9

.u-flex-10
  flex: 10

.u-flex-11
  flex: 11

.u-flex-12
  flex: 12

/////////////////////////////////////////////////////////////
// Flex size
/////////////////////////////////////////////////////////////

.u-flex-grow-1
  flex-grow: 1


/////////////////////////////////////////////////////////////
// Properties for configuring gap between grid cells/columns
/////////////////////////////////////////////////////////////

.u-flex-container-gap-overflow-xs
  width: "calc(100% + %s * 2)" % $spacing-module-xs;
  margin: 0 "calc(-1 * %s)" % $spacing-module-xs;

.u-flex-container-gap-overflow-s
  width: "calc(100% + %s * 2)" % $spacing-module-s;
  margin: 0 "calc(-1 * %s)" % $spacing-module-s;

.u-flex-container-gap-overflow-m
  width: "calc(100% + %s * 2)" % $spacing-module-m;
  margin: 0 "calc(-1 * %s)" % $spacing-module-m;

.u-flex-container-gap-overflow-l
  width: "calc(100% + %s * 2)" % $spacing-module-l;
  margin: 0 "calc(-1 * %s)" % $spacing-module-l;

.u-flex-container-gap-overflow-xl
  width: "calc(100% + %s * 2)" % $spacing-module-xl;
  margin: 0 "calc(-1 * %s)" % $spacing-module-xl;

.u-flex-column-gap-xs
  margin: 0 $spacing-module-xs;

.u-flex-column-gap-s
  margin: 0 $spacing-module-s;

.u-flex-column-gap-m
  margin: 0 $spacing-module-m;

.u-flex-column-gap-l
  margin: 0 $spacing-module-l;

.u-flex-column-gap-xl
  margin: 0 $spacing-module-xl;

//////////////////////////////////////////////////
// Reusable common responsive flex-patterns
//////////////////////////////////////////////////
/*
    Stacks on mobile, and inlines above mobile
*/
.u-flex-stack-inline
  display: flex
  flex-direction: column
