////////////////
// 🚀 Spacing
////////////////

// Layout spacing variables

$spacing-layout-xxs = 1rem;         //16px
$spacing-layout-xs = 1.5rem;        //24px
$spacing-layout-s = 2rem;           //32px
$spacing-layout-m = 2.5rem;         //40px
$spacing-layout-l = 4rem;           //64px
$spacing-layout-xl = 5rem;          //80px


// Module spacing variables

$spacing-module-xs = 0.125rem;      // 2px
$spacing-module-s = 0.25rem;        // 4px
$spacing-module-m = 0.5rem;         // 8px
$spacing-module-l = 1rem;           //16px
$spacing-module-xl = 1.5rem;        //24px